[Unit]
Description=Serves templated preseed files in DataCentred's staging environment
Requires=network.target

[Service]
EnvironmentFile=/etc/default/staging-preseed-server
ExecStart=/usr/local/bin/staging-preseed-server

[Install]
WantedBy=multi-user.target
